@model ProySalonDeEventos.Models.Presupuesto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantInvitados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantInvitados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPresupuesto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
